<%= form_for @blog, url: blog_path(@blog), method: :put do |f|%> <!--para editar tomamos el prefix del metodo put-->
 
<div>
    <%= f.label :title %>
    <%= f.text_field :title %>
</div>

<div>
    <%= f.label :content %>
    <%= f.text_area :content %>
</div>

<div>
    <%= f.submit %>
</div>

<% end %>